{% extends 'sub/sub_sec_page.html' %}
{% block content %}

    <header style="border: 2px solid black; background-color: #131921; height: 70px; width: 100%;">
        <div id="main">
            <div id="img">
                <img src="https://pngimg.com/d/amazon_PNG11.png" alt="error" width="120px"
                    style="margin-left: 40px; margin-top: 20px ;">
            </div>
            <div id="nav">
                <p>Delivering to Hyderabad 500055<br>
                    <b>Update location</b>
                </p>
            </div>
            <div id="search-bar">
                <input type="search" name="s-bar" id="search" placeholder="Search Amazon.in">
            </div>
            <button
                style="background-color: #FEBD69; width: 100px; height: 23px;margin-top: 5px; border-radius: 7px;">search</button>
            <b>EN</b>
            <p>Hello, SignIn <br><b>Accounts & lists</b></p>
            <p>Returns <b>& Orders</b></p>
            <b>CART</b>

        </div>

    </header>


    

{% endblock content %}
